<!DOCTYPE html>
<html>

<head>
    <title>Help</title>
    <link rel="icon" href="/img/weather.png">s
    <link rel='stylesheet' href='/css/styles.css'>
</head>

<body class="help">
    <div class="main-content">
        {{>header}}
        <p> Message: {{message}} </p>
    </div>

    {{>footer}}

</body>

</html>